html{
	--grid-colour: saddlebrown;
	--cell-colour: seagreen;
	--clicked-colour: lightgray;
	--flagged-colour: orange;
	--exploded-colour: red;
	--hiscore-colour: gold;
	--score-colour: silver;
}


.footbar{
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
}
.title{
	text-align: center;
	color: black;
	font-size: 30px;
	font-weight: 100;
	z-index: 10;
}
.copy{
	color: rgba(0,0,0,0.2);
}


.minefield{
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.input-field{
	display: flex;
	flex-direction: row;
}

.custom{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.settings{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

#new{
	margin-top: 20px;
}

.difficulty{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

.startGame{
	cursor: pointer;
	padding: 10px;
	margin: 0px 10px;
	background-color: gray;
}

.startGame:hover{
	background-color: lightgray;
}

input{
	margin-right:30px;
	margin-left: 10px;
	font-size: 20px;
	width: 50px;
}

body{
	font-family: sans-serif;
}


#score{
	color: var(--score-colour);
	padding-right: 50px;
	width: 100px;
}

#hiscore{
	color: var(--hiscore-colour);
	padding-right: 50px;
	width: 100px;
}

#mines{
	width: 100px;
}

.top{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.95);
	padding: 20px 0;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 2;
}


#game{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	padding-top: 80px;
	font-family: serif;
}

.row{
	display: flex;
	flex-direction: row;
}

.cell{
	width: 25px;
	height: 25px;
	background-color: var(--cell-colour);
	border: 1px solid var(--grid-colour);
	text-align: center;
	font-weight: bold;
	line-height: 25px;
}


.cell:hover {
	background-color: var(--grid-colour);
	cursor: pointer;
}

.clicked{
	background-color: var(--clicked-colour);
	width: 25px;
	height: 25px;
	border: 1px solid var(--grid-colour);
	text-align: center;
	font-weight: bold;
	line-height: 25px;
}

.flagged{
	background-color: var(--flagged-colour);
	width: 25px;
	height: 25px;
	border: 1px solid var(--grid-colour);
	text-align: center;
	font-weight: bold;
	line-height: 25px;
}


.exploded {
	background-color: var(--exploded-colour);
	width: 25px;
	height: 25px;
	border: 1px solid var(--grid-colour);
	text-align: center;
	font-weight: bold;
	line-height: 25px;
	font-size: 25px;
}



.disabled{
	width: 25px;
	height: 25px;
	text-align: center;
	font-weight: bold;
	line-height: 25px;
	font-size: 25px;
}


.one{
	color: blue;
}

.two{
	color: green;
}

.three{
	color: red;
}

.four{
	color: purple;
}

.five{
	color: maroon;
}

.six{
	color: cyan;
}

.seven{
	color: black;
}

.eight{
	color: darkgray;
}
